.navbar {
  background-color: #1a1a52;
  padding: 1rem;
  color: white;
  align-content: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 500px;
}

.nav-link {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 2rem; 
  color: white;
}


.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: gold; 
}

.try-button {
  background-color: #ffcc00;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: black; 
}

.try-button:hover {
  background-color: #e6b800;
}
.ml-auto{
  margin-left: 20px;
}
.navbar-collapse-collapse{
 justify-content: center;
}